@CHARSET "utf-8";

body{margin-left:-20px;background-color:#FDFDFD;}

/* COULEURS */
.couleur1{color:#333;} /* couleur par défaut */
.couleur2{color:#FF0000;} /* couleur secondaire (sous menu...) */
.couleur2hover:hover{color:#FF0000;} /* couleur secondaire lors du passage de la souris  */
.couleur2bg{background-color:#FF0000;} /* couleur secondaire background */
.couleur3{color:#787878;} /* couleur légende */

.fondPromus{background-color:#3FB75A;}
.fondRelegues{background-color:#EF2F2A;}
.fondQualif{background-color:#27a844;}
.fondCoupe1{background-color:#FDFDFD;}
.fondCoupe2{background-color:#FDFDFD;}
.fondCoupe3{background-color:#FDFDFD;}

/* COLONNES */
#col1{float:left;}
#col2{float:left;}
div.col1{float:left;}
div.col2{float:left;}
div.col12{float:left;}
div.col123{float:left;}
div.col3{float:left;}
div.col13{float:left;}
div.col23{float:left;}
div.col33{float:left;}

/* CONTENU COLONNES */
div.contenu{padding:0 0 10px 0;margin-left:20px;}

/* TITRE BLOC */
.titreBloc{font-size:19px;padding:1px;height:20px;border-bottom:solid 1px #d4d4d4;}
.titreBloc span.ssTitre{font-size:11px;margin-left:10px;}

/* CADRE */
.titreCadre{font-size:12px;border-left:solid 1px #d4d4d4;border-right:solid 1px #d4d4d4;border-top:2px solid #666666;line-height:120%;padding:10px 10px 5px;float:left;font-weight:bold;min-width:133px;}
.titreCadre span.ssTitre{font-size:11px;margin-left:10px;font-weight:normal;}
.cadre{border:1px solid #D4D4D4;padding:10px 0;clear:both;}

/* JOURNEES */
select.journees{border:1px solid #d5d5d5;color:#000;font-size:12px;width:80%;float:right;margin:6px;}

/* PUB */
div.pub{}

/* EQUIPES */
a.lienStatistique{}
a.lienStatistique:hover{text-decoration:underline;cursor:pointer;}

/* CLUBS */
a.lienClub{}
a.lienClub:hover{text-decoration:underline;cursor:pointer;}

/* POULES */
a.lienPoule{}
a.lienPoule:hover{text-decoration:underline;cursor:pointer;}